name: Build and Test Workflow

on:
    pull_request:
        branches: [ "master" ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - name: Setup Go
              uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
              with:
                go-version: '1.23'
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
            - name: Run test and generate reports
              run: go test -v ./... -coverprofile=coverage.out
            - name: Upload Coverage Test
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
              with:
                name: Coverage-report
                path: coverage.out
            - name: Display the report
              run: go tool cover -func=coverage.out
            - name: Build Go
              run: go build ./...